<md-sidenav md-is-locked-open="true" md-whiteframe="5">


	 <md-content class="md-padding" style="background:#EAEDF0;" flex>
	 <side-Menu ></side-Menu>
       	<h4>Reveiw Your Information & Check Coverage</h4>
        <p> Let's make sure we have captured all of
            your information correctly.
        </p>
        <p> We understand privacy is important to
            you. Your email address will only be used
            to send essential account information to
            you.
        </p>
        <p> Let's confirm you coverage is right for
            you where you live, work and play.
        </p>                         
	 </md-content>
</md-sidenav>